@media screen and (max-width:500px){
    .contacts__form,
    .contacts__item{
        max-width: 300px;         
}
    .contacts__form button,
    .contacts__item button{
        margin-bottom: 5px;
    }
}

@media screen and (max-width:400px){
    .contacts__form,
    .contacts__item{
        max-width: 250px;      
    }
    .contacts__form input,
    .contacts__item div{
        width: 80%;
    }
}
@media screen and (max-width:350px){
    .contacts__form,
    .contacts__item{
        max-width: 200px;      
    }
    .contacts__form input,
    .contacts__item div{
        width: 80%;
    }
}